
* {
  margin: 0;
  padding: 0;
}


body {
  font-family: Monaco;
}

li {
  list-style: none;
}

.unit-big {
  width: 50%;
  float: left;
}

.unit-small {
  float: none;
}

.unit-sub {
  width: 100%;
}

.selected {
  background-color: #e0e0e0;
}