
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  padding: 16px;
}

h1, h2, h4 {
  margin-bottom: 16px;
}

li {
  list-style: none;
}

p {
  margin-bottom: 16px;
}

.officer {
  width: 50%;
  float: left;
}

.unit-big {
  width: 50%;
  float: left;
}

.unit-small {
  float: none;
}

.unit-sub {
  width: 100%;
}

.rightFaction {
  background-color: #d3daff;
}

.leftFaction {
  background-color: #ffd3d3;
}

.centerFaction {
  background-color: #ffffff;
}

.selected {
  background-color: #e0e0e0;
} 

.operationList {
  height: 240px;
}

.operationItem {
  width: 50%;
  float: left;;
  position: relative;
}

.operationInfo {
  position: absolute;
  background-color: white;
  z-index: 999;
}

.actions {
  margin: 16px;
}

.actions li {
  margin-top: 16px;
}

.operations li {
  display: inline;
}

.operationsCurrent {
  margin-bottom: 16px;
  text-transform: uppercase;
}

.clear {
  clear: both;
}

.divider {
  margin: 16px;
}

.officerData {
  width: 50%;
  float: left;
}

.officerTraits {
  width: 50;
  float: left;
}

.orders {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.order {
  background-color: white;
  margin: 0 auto;
  width: 612px;
  height: auto;
  padding: 32px;
  border: 1px solid black;
  z-index: 99999;
  position: absolute;
}