
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Monaco;
  padding: 16px;
}

li {
  list-style: none;
}

.officer {

}

.unit-big {
  width: 50%;
  float: left;
}

.unit-small {
  float: none;
}

.unit-sub {
  width: 100%;
}

.rightFaction {
  background-color: #d3daff;
}

.leftFaction {
  background-color: #ffd3d3;
}

.centerFaction {
  background-color: #ffffff;
}

.selected {
  background-color: #e0e0e0;
} 

.operationList {
  height: 320px;
  overflow: scroll;
}

.operationItem {
  margin-top: 16px;
}

