html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**/
body {
	font-size: 16px;
}

li {
	margin-bottom: 16px;
}
body {
	font-family: "Courier New", Verdana, sans-serif;
}
/*16px 18px 24px 32px*/

/*structure*/
div.clear {
	clear: both;
}
div.container {
	padding: 18px 0 0 18px;
}
ul.divisions {
	float: left;
	min-width: 320px;
	border-top: 1px double grey;
}
ul.divisions, ul.brigades {
	font-size: 16px;
	margin-left: 16px;
	min-height: 100px;
}
ul.divisions li.commander, ul.divisions li.commander-data, ul.divisions li.unit {
	height: 32px;
	line-height: 32px;
}
ul.brigades {
	border-top: 1px solid grey;
}
span.xp {
	background-color: black;
	color: white;
}
.logs-container {
	width: 320px;
	float: left;
	margin-left: 16px;
}
ul.logs {
	width: 320px;
}
ul.logs li.promotion {
	color: green;
}
ul.logs li.retirement {
	color: red;
}
ul.logs li.assignment {
	color: blue;
}
ul.logs li.comission {
	color: violet;
}
ul.logs li.bond {
	color: orange;
}
ul.logs li.bond {
	color: pink;
}
@media (min-width: 600px) {
  div.container {
  }
}
@media (min-width: 1600px) {
  div.container {
  }
}