html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**/
body {
	background-color: #7B8738;
	color: #F7F7F7;
	font-family: "Courier New", Verdana, sans-serif;
	font-size: 16px;
	padding: 32px 0px;
}
ul li {
	padding: 10px 0px;
}
/*16px 18px 24px 32px*/
/*
Blackhex: #000000
Army Yellowhex: #FFCB05
Whitehex: #FFFFFF
Cool Grayhex: #3D3D3D
Content Areahex: #F7F7F7
Army Greenhex: #7B8738
Left Navigation Areahex: #C2C2C2
Hover Statehex: #B4B4B4
Left Navigation Activehex: #4E4E4E
*/
/*structure*/
div.clear {
	clear: both;
}
div.commanderInChief {
	margin-bottom: 10px
}
div.divisions, div.brigades, div.regiments, div.companies {
	border-top: 3px double #F7F7F7;
	padding-top: 16px;
	float:left;
}
div.divisions {
	width: 50%;
}
div.companies {
	width: 50%;
	border-top: 0;
	margin-top: 12px;
}
div.brigades {
	width: 50%;
}
div.regiments {
	width: 50%;
}
div.brigades {
	border-top: 1px solid #F7F7F7;
}
div.regiments {
	font-size: 12px;
	border-top: 1px dotted #F7F7F7;
}

div.unit-data {
	margin-bottom: 10px;
	min-height: 100px;
}

div.division-data {
	min-height: 100px;
	height: auto;
}

div.brigade-data {
	min-height: 100px;
	height: auto;
}
div.regiment-data {
	min-height: 40px;
	height: auto;
}
div.company-data {
	padding-bottom: 12px;
}
div.battalions {
	padding-top: 12px;
}
p.officer {
	line-height: 32px;
	font-weight: bold;
	min-height: 32px;
}
span.decorations {
	margin-top: 10px;
	display: block;
	max-width: 175px;
}
span.officer-name {
	margin-top: 10px;
	display: block;
}
div.divisions span.decorations {
	max-width: 150px;
}
div.brigades span.decorations {
	max-width: 130px;
}
div.regiments span.decorations {
	max-width: 130px;
}
span.badge-holder {
	width: 50px;
	display: block;
	float: right;
}

div.companies span.badge-holder, div.battalions span.badge-holder {
	float: none;
	margin-top: 10px;
	min-height: 30px;
}
span.badge {
	display: block;
	width: 2px;
	height: 2px;
	float: left;
}
span.stars {
	float: left;
}
span.stars, span.xp, span.alignment, span.unit, span.diamonds {
	display: inline-block;
	background-color: #3D3D3D;
	color: #FFCB05;
	padding: 3px 5px 2px;
	border: 2px solid #FFCB05;
	margin-right: 16px;
	min-width: 50px;
}
span.stars {
	text-align: center;
}
span.stars-inspect {
	color: red;
	min-width: 25px;
	max-width: 25px;
}
span.stars-inspect-battalion {
	font-size: 6px;
	display: inline-block;
	height: 8px;
	min-width: 25px;
}
span.stars-plot {
	color: black;
	display: inline-block;
	font-size: 6px;
	margin-right: 0px;
	height: 8px;
	min-width: 25px;
	max-width: 25px;
	float: left;
}
span.unit {
	margin-right:0px;
}
span.xp, span.alignment {
	border: 0px;
	padding: 4px 6px 3px;
	margin-right: 8px;
	min-width: 16px;
	min-height: 16px;
	text-align: center;
	line-height: 16px;
}
span.diamonds {
	color: #B4B4B4;
	line-height: 12px;
	margin-top: 10px;
	min-height: 12px;
	text-align: center;
	margin-right: 0px;
	min-width: 50px;
}
span.unit-company {
	margin-right: 6px;
}

div.history, div.inspectedHistory {
	width: 50%;
	float: left;
	padding-top: 32px;
	font-size: 13px;
}

div.history li, div.inspectedHistory li {
	margin-bottom: 32px;
}

div.inspectedHistory {
	width: 48%;
	float: right;
}

ul.logs li.promotion {
	color: #FFCB05;
}
ul.logs li.retirement {
	color: #3D3D3D;
}
ul.logs li.assignment {
	color: #B4B4B4;
}
ul.logs li.comission {
	color: #3D3D3D;
}
ul.logs li.bond {
	color: pink;
}
@media (min-width: 600px) {
  div.container {
  }
}
@media (min-width: 1600px) {
  div.container {
  }
}
