ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.clear {
  clear: both;
}

.date {
  width: 100%;
  text-align: center;
}
.player, .corp, .division, .brigade {
  width: 50%;
  float: left;
}

.corp:after {
  content: ' ';
  display: block;
  clear: both;
};

ul.staffOfficers {
  margin-top: 16px;
}
