body, h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-weight: normal;
  font-family: monospace !important;
  font-size: 14px !important;
}

h1 {
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.corp, .division, .brigade  {
  width: 50%;
  float: left;
  display: inline-block;
}

.corp, .division, .brigade, .regiment, .battalion, .company, .platoon, .squad {
  position: relative;
}

.corp {
  z-index: 3;
}
.division {
  z-index: 4;
}
.brigade {
  z-index: 5;
}
.regiment {
  z-index: 6;
}
.battalion {
  z-index: 7;
}
.company {
  z-index: 8;
}

.client {
  min-height: 800px;
}

.platoon {
  z-index: 9;
}
.squad {
  z-index: 5;
}

.clear {
  clear: both;
}

.army {
}

.player, .unit, .inspected {
  margin: 8px;
}

.player, .inspected {
  display: inline-block;
  float: left;
  width: 48%;
}

.inspected {
  float: right;
}

.unit {
  float: none;
  display: block;
  clear: both;
}

.player h2 {
  margin-top: 8px;
}

.player .stats {
  margin-bottom: 8px;
}

.date {
  margin: 0 8px;
}

.log {
  margin: 4px 0;
}

.inspectedStaff {
  margin-top: 8px;
}

.inspected .history {
  margin-top: 8px;
  padding: 16px 0;
}
.inspected .superior, .operation {
  margin-top: 8px;
}
.isRed {
  background-color: lightgreen;
}
.isRed .isRed {
  background-color: green;
}
.isTarget {
  background-color: lightblue;
}
